$headerBackground: url(../img/header_background_v2.jpg);
$font-stack: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$nav-font: bold $font-stack ;
$nav-font-color: #ff5722;
$nav-border-color: #cfd8dc;
$button-bgrcolor: #0401ac;
$button-font-color: #ffffff;
$post-description-font-color: #bdbdbd;
$post-header-font-color: #607d8b;
$post-list-bgrcolor: #efefef;
$article-bgrcolor: #ffffff;
$main-font-color: #757575;