$headerBackground: url(../img/header_background_v1.jpg);
$font-stack: 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$nav-font: bold $font-stack ;
$nav-font-color: #ececec;
$nav-border-color: #607d8b;
$button-bgrcolor: #01acac;
$button-font-color: #ececec;
$post-description-font-color: #e90303;
$post-header-font-color: #0097a7;
$post-list-bgrcolor: #ffffff;
$article-bgrcolor: #efefef;
$main-font-color: #010f16;
